* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: kumbh sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
    background: #faf7f7;

}
.navbar{
    background: #131313;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: center;
    max-width: 95rem;
    
}
 
.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 120px;
  max-width: 85rem;
  margin-right: 35em;
}
#navbar__logo{
    background-color: #ff7;
    background-image: linear-gradient(to top, #ff0844 0%, 3ffbl 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 3rem;
    cursor: pointer;
}
.fa-gem{
    margin-right: 0.5rem;

}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center; 
    justify-content: center;
    
}
.navbar__item{
    height: 80px;
}
.navbar__links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1em 0 1em;

}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0em;
  height: 3em;
  width: 5em;
  border: none;
  outline: none;
  border-radius: 1.3em;
  color: black;
}
.button:hover {
  background: red;
  transition: all 0.3s ease;
}
.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}
@media screen and (max-width: 96px){
  .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
 .navbar__menu{
   display: grid;
   grid-template-columns: auto;
   margin: 1 em;
   width: 100%;
   position: absolute;
   top: -1000px;
   opacity: 0;
   transition: all 0.5s ease;
   height: 50vh;
   z-index: -1;
   background: #131313;
 }
 .navbar__menu.active{
   background: #131313;
   top: 100;
   opacity: 1;
   transition: all 0.5s ease;
   z-index: 99;
   height: 50vh;
   font-size: 1 em;
 }
 #navbar__logo{
   padding-left: 25px;
  }
 .navbar__toggle.bar{
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   background: #fff;
  }
 .navbar__links{
   text-align: center;
   padding: 2rem;
   width: 100%;
   display: table;
 }
 #mobile-menu{
   position: absolute;
   top: 20%;
   right: 5%;
   transform: translate(5%,20%);

 }
 .navbar__btn{
   padding-bottom: 2rem;
 }
 .button{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 80px;
   margin: 0;
 }
 .navbar__toggle.bar{
   display: block;
   cursor: pointer;

 }

}


/*1st page*/
#about_me {
  display:grid;
  margin: 0 auto;
  height: 35rem;
  background-color:#D1DFEA;
  z-index: 1;
  width: 100%;
  max-width: 85rem;

}
.main__container {
  display: flex;
  position: relative;
  
}
.main__container h1{
font-size: 5rem;
text-transform: capitalize;
position: relative;
}
.main__container h4{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

  .details{
    float: right;  
    padding-top: 2rem;
    padding-right: 4rem;
  }
  
  .My_image {
   height: 100%;
   width: 40%;
   margin-right: 5rem;
   margin-left: 3rem;
  }
  .Social_links{
    color: inherit;
  }

  @media screen and (max-width: 768px){
    .main__container{
      display: grid;
      grid-template-columns:auto;
      justify-self: center;
      width: 100;
      margin: 0 auto;
      height: 90vh;
     }
     .main__content h1 {
       font-size: 2.4rem;
       margin-top: 1rem;
     }
     .main__content h5 {
       font-size: 3rem;
     }
     .main__content p {
       margin-top: 1rem;
       font-size: 1.5rem;

     }
   
  }
  @media screen and (max-width: 480px) {
    .main__content h1 {
      font-size: 2rem;
      margin-top: 1rem;
    }
    .main__content h5 {
      font-size: 2rem;
    }
    .main__content p {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    
    .main__btn{
      padding: 12px 35px;
      margin: 2.5rem 0;
      
    }
  }


  /* Project-section*/


    #my_Project{
      padding: 3rem;
      height: 60rem;
      margin-left: 3rem;
      background-color:#D1DFEA;
      max-width: 85rem;
    } 
    #my_Project h1{
      background-color:#ff8177;
      background-image: linear-gradient(to right,#ff8177 0%,#ff867a 0%,#ff8c7f 21%,#f99185 52%,#cf556c 78%,
      #b12a5b 100%);
      text-align: center;
      font-size: 4rem;
      max-width: 35%;
      margin-bottom: 8rem;
        
    }
    .Projects_tiles{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      margin:2em 9em;
      
    }
     .project{
      display:inline-block;
      margin-bottom:1em;
      color:whitesmoke;
      height:16em;
      width:18em;
      background-color: #112240;
      transition: height 1s,width 2s;
      }
      
   .project:hover{
          height:18em;
          width:19em;
                 }
  
      
    /* Research section*/


    #my_Research{
      display:grid;
      margin: 0 auto;
      height: 60rem;
      background-color:#D1DFEA;
      z-index: 1;
      width: 100%;
      max-width: 85rem;
      margin-bottom: 1.3rem;
        }  

        .Research h1{
          margin-top: 1rem;
          margin-left: 3rem;
          font-size: 4rem;
          background-color:#ff8177;
          background-image: linear-gradient(to right,#ff8177 0%,#ff867a 0%,#ff8c7f 21%,#f99185 52%,#cf556c 78%,
          #b12a5b 100%);
          text-align: center;
          max-width: 35%;
        }

        .Research__container{
          font-size: 3rem;
          align-items: center;
          margin-top: 3rem;
          margin-left: 2rem;
          justify-content: space-between;

                }
          #Research__card1{
            background-color: lawngreen;
            display: inline-block;
            margin-bottom: 2rem;
            height: 4rem;
            width: 25rem;
            text-align: center;
          }     
          #Research__card1:hover{
            height: 5rem;
            width: 27rem;
          } 
          .Research__Card2 a:link{
            background-color: red;
            display: inline-block;  
            margin-left: 4rem;
            margin-bottom: 2rem;
            height: 4rem;
            width: 25rem;
            text-align: center;
            text-decoration: rgb(5, 5, 5);
          }
          .Research__Card2{
            background-color: red;
            display: inline-block;  
            margin-left: 4rem;
            margin-bottom: 2rem;
            height: 4rem;
            width: 25rem;
            text-align: center;
            text-decoration: rgb(5, 5, 5);
          }
          .Research__card2 a:hover{
            height: 5rem;
            width: 27rem;
          } 
          #Research__card3{
            background-color:rgb(255, 0, 0);
            display: inline-block;
            margin-top: 1rem;
            margin-left: 8rem;
            height: 4rem;
            width: 25rem;
            text-align: center;
          }
          #Research__card3:hover{
            height: 5rem;
            width: 27rem;
          } 
          #Research__card4{
            background-color:seagreen;
            display: inline-block;
            margin-left: 12rem;
            margin-top: 2rem;
            height: 4rem;
            width: 25rem;
            text-align: center;
          }
          #Research__card4:hover{
            height: 5rem;
            width: 27rem;
          } 
          #Research__card5{
            background-color:rgb(238, 9, 169);
            display: inline-block;
            margin-left: 16rem;
            margin-top: 2rem;     
            height: 4rem;
            width: 25rem;    
            text-align: center;
          }
          #Research__card5:hover{
            height: 5rem;
            width: 27rem;
          } 
          #Research__card6{
            background-color:rgb(255, 94, 0);
            display: inline-block;
            margin-left: 20rem;
            margin-top: 2rem;
            height: 4rem;
            width: 25rem;
            text-align: center;
          }
          #Research__card6:hover{
            height: 5rem;
            width: 27rem;
          } 
          #Research__card7{
            background-color:rgb(255, 220, 21);
            display: inline-block;
            margin-left: 24rem;
            margin-top: 2rem;
            height: 4rem;
            width: 25rem;
            text-align: center;
          }
          #Research__card7:hover{
            height: 5rem;
            width: 27rem;
          } 
          #Research__card8{
            background-color:rgb(101, 64, 235);
            display: inline-block;
            margin-left: 28rem;
            margin-top: 2rem;
            height: 4rem;
            width: 25rem;
            text-align: center;
          }
          #Research__card8:hover{
            height: 5rem;
            width: 27rem;
          } 


  
    

        /* Last page */


      #my_Last-Page{
      display:grid;
      margin: 0 auto;
      height: 90vh;
      background-color: #D1DFEA;
      z-index: 1;
      width: 100%;
      max-width: 85rem;   
    }
    .Last-Page h1{
          margin-top: 2rem;
          margin-left: 3rem;
          font-size: 4rem;
          background-color:#ff8177;
          background-image: linear-gradient(to right,#ff8177 0%,#ff867a 0%,#ff8c7f 21%,#f99185 52%,#cf556c 78%,
          #b12a5b 100%);
          text-align: center;
          max-width: 30%;
          margin-bottom: 1.5rem;
    }
    .Last-Page h3{
      margin-left: 70rem;
    }
    .Social_Media{
      margin-bottom: 10rem;
      margin-left: 70rem;

    }
    .Social_Media i{
      margin: 0.4rem;
      
    }
    .Last-Page h2{
      margin-top: 9rem;
      margin-bottom: 1rem;
      margin-left: 4rem;
    }
    .Mail_botton{
      margin-left: 6rem;
      font-size: 1rem;
      background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      margin-top: 10rem;
      cursor: pointer;
      position: relative;
      transition: all 0.35s;
      outline: none;
      margin-bottom: 0.5rem;

  
    }
    .Mail_button{
      position: relative;
      z-index: Z;
      color: #fff;
      text-decoration: none;
  
    }
    .Mail_button:after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #4837ff;
      transition: all 0.35s;
      border-radius: 4px;
      
    }
    .Mail_button:hover {
      color: #fff;
    }
    .Mail_button:hoverafter{
      width: 100;
    }
    .Last-Page p{
      font-size: 2rem;
      font-family: cursive;
      margin-left: 5rem;
    }
    .Last-Page h4{
      margin-left: 70rem;
    }
    
    footer{
      background: #131313;
      height: 3rem;
      display: flex;
      align-items:center;
      bottom: 0%;
      padding-bottom: 0%;
    
    }
    .footer_text{
       color: #fff;
       font-size: 1rem;
       margin-left: 30rem;
       align-items: center;
    }
        
      